
<div class="carousel">
  <div class="carousel__main"><a class="carousel__content js-carousel-cont" id="panel1" href="#" role="tabpanel" aria-labelledby="prev next play pause tab1" aria-hidden="false" tabindex="0">
      <picture>
        <!-- WebP用画像-->
        <source srcset="{{ path '/img/img_carousel_01.jpg' }}" type="image/webp" loading="lazy">
        <!-- 従来画像--><img class="carousel__img" src="{{ path '/img/img_carousel_01.jpg' }}" alt="スライドパネル-コンテンツ画像1">
      </picture></a><a class="carousel__content js-carousel-cont" id="panel2" href="#" role="tabpanel" aria-labelledby="prev next play pause tab2" aria-hidden="true" tabindex="-1">
      <picture>
        <source srcset="{{ path '/img/img_carousel_02.jpg' }}" type="image/webp" loading="lazy"><img class="carousel__img" src=src="{{ path '/img/img_carousel_02.jpg' }}" alt="スライドパネル-コンテンツ画像2">
      </picture></a><a class="carousel__content js-carousel-cont" id="panel3" href="#" role="tabpanel" aria-labelledby="prev next play pause tab3" aria-hidden="true" tabindex="-1">
      <picture>
        <source srcset="{{ path '/img/img_carousel_03.jpg' }}" type="image/webp" loading="lazy"><img class="carousel__img" src="{{ path '/img/img_carousel_03.jpg' }}" alt="スライドパネル-コンテンツ画像3">
      </picture></a><a class="carousel__content js-carousel-cont" id="panel4" href="#" role="tabpanel" aria-labelledby="prev next play pause tab4" aria-hidden="true" tabindex="-1">
      <picture>
        <source srcset="{{ path '/img/img_carousel_04.jpg' }}" type="image/webp" loading="lazy"><img class="carousel__img" src="{{ path '/img/img_carousel_04.jpg' }}" alt="スライドパネル-コンテンツ画像4">
      </picture></a><a class="carousel__content js-carousel-cont" id="panel5" href="#" role="tabpanel" aria-labelledby="prev next play pause tab5" aria-hidden="true" tabindex="-1">
      <picture>
        <source srcset="{{ path '/img/img_carousel_05.jpg' }}" type="image/webp" loading="lazy"><img class="carousel__img" src="{{ path '/img/img_carousel_05.jpg' }}" alt="スライドパネル-コンテンツ画像5">
      </picture></a>
    <button class="carousel__control-prev js-carousel-prev" id="prev" type="button" aria-label="前のスライドコンテンツへ Previus" aria-controls="panel1 panel2 panel3 panel4 panel5"></button>
    <button class="carousel__control-next js-carousel-next" id="next" type="button" aria-label="次のスライドコンテンツへ Next" aria-controls="panel1 panel2 panel3 panel4 panel5"></button>
    <button class="carousel__control-play js-carousel-play" id="play" type="button" aria-label="オートスライド再生 Pray" aria-controls="panel1 panel2 panel3 panel4 panel5" aria-hidden="false"></button>
    <button class="carousel__control-pause js-carousel-pause" id="pause" type="button" aria-label="オートスライド一時停止 Pause" aria-controls="panel1 panel2 panel3 panel4 panel5" aria-hidden="true"></button>
  </div>
  <ul class="carousel__thumbnail-list" id="js-carousel-thumb" role="tablist">
    <li class="carousel__thumbnail-item" id="tab1" role="tab" aria-controls="panel1" aria-selected="true">
      <button class="carousel__thumbnail-btn" type="button">
        <picture>
          <source srcset="{{ path '/img/img_carousel_01.jpg' }}" type="image/webp" loading="lazy"><img class="carousel__thumbnail-img" src="{{ path '/img/img_carousel_01.jpg' }}" alt="スライドパネル-サムネイル画像1">
        </picture>
      </button>
    </li>
    <li class="carousel__thumbnail-item" id="tab2" role="tab" aria-controls="panel2" aria-selected="false">
      <button class="carousel__thumbnail-btn" type="button">
        <picture>
          <source srcset="{{ path '/img/img_carousel_02.jpg' }}" type="image/webp" loading="lazy"><img class="carousel__thumbnail-img" src="{{ path '/img/img_carousel_02.jpg' }}" alt="スライドパネル-サムネイル画像2">
        </picture>
      </button>
    </li>
    <li class="carousel__thumbnail-item" id="tab3" role="tab" aria-controls="panel3" aria-selected="false">
      <button class="carousel__thumbnail-btn" type="button">
        <picture>
          <source srcset="{{ path '/img/img_carousel_03.jpg' }}" type="image/webp" loading="lazy"><img class="carousel__thumbnail-img" src="{{ path '/img/img_carousel_03.jpg' }}" alt="スライドパネル-サムネイル画像3">
        </picture>
      </button>
    </li>
    <li class="carousel__thumbnail-item" id="tab4" role="tab" aria-controls="panel4" aria-selected="false">
      <button class="carousel__thumbnail-btn" type="button">
        <picture>
          <source srcset="{{ path '/img/img_carousel_04.jpg' }}" type="image/webp" loading="lazy"><img class="carousel__thumbnail-img" src="{{ path '/img/img_carousel_04.jpg' }}" alt="スライドパネル-サムネイル画像4">
        </picture>
      </button>
    </li>
    <li class="carousel__thumbnail-item" id="tab5" role="tab" aria-controls="panel5" aria-selected="false">
      <button class="carousel__thumbnail-btn" type="button">
        <picture>
          <source srcset="{{ path '/img/img_carousel_05.jpg' }}" type="image/webp" loading="lazy"><img class="carousel__thumbnail-img" src="{{ path '/img/img_carousel_05.jpg' }}" alt="スライドパネル-サムネイル画像5">
        </picture>
      </button>
    </li>
  </ul>
</div>
{{!-- <details class="details">
  <summary class="details__summary">このカルーセルの仕様↓</summary>
  <ol class="details__ordered-list">
    <li class="details__ordered-item">キーボード操作に対応。<br>TabとSpace/Enterキーで「前へ(&lt;)ボタン」「次へ(&gt;)ボタン」「再生ボタン」「停止ボタン」「サムネイル
                  ・インジケーター」などが操作可能
    </li>
    <li class="details__ordered-item">「再生・停止」が選択できるオートスライド機能を実装。<br>画面読み込み時からの自動スライド挙動はユーザビリティが低く、ユーザー自身が挙動選択できるようにん</li>
    <li class="details__ordered-item">カルーセルパネルの「コンテンツ(本例は画像5枚)」と「前へ(&lt;)ナビ」「次へ(&gt;)ナビ」にマウスオン、キーボードフォーカスした際は、オートスライド一時停止。<br>ユーザーが選択している際に自動で動くとユーザビリティを損ねるため</li>
    <li class="details__ordered-item">サムネイルとインジケーターの役割を兼ねた。<br>インジケーターは小さめのドットで表現されることが多いが、本例は機能をマージ</li>
    <li class="details__ordered-item">「前へ(&lt;)/次へ(&gt;)」ナビゲーションとインジケーター等のUIは最低限押しにくくないようなサイズを目指した(デザイン優先のために小さくされがち)</li>
    <li class="details__ordered-item">スクリーンリーダー(音声読み上げ)対応。VoiceOverで検証。<br>            WAI-ARIAマークアップでの状態切替明示にも対応。</li>
  </ol>
  <label class="details__progress-label" for="task">Task progress (97%):</label>
  <progress class="details__progress" id="task" max="100" value="97">97%</progress>
  <p class="details__paragraph">所感：<br>          機能を盛り込んだカルーセルは、特に表示パネルやコントロール系の関連性が複雑。それを示すためにrole/aria属性が多く必要になり、結果的に該当する要素の属性指定がかなり冗長となった<br>          これは、どうかな、なぁ、でも、なぁ。
              ここでそういうルールで実行するのは考えれないです。
              であるか。そのとき、javascriptがすべてのもっともな他のすでにとおりですます。
  </p>
</details> --}}